#explaboral {
  border: 2px solid #f2f2f2;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.container-fluid {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.row {
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  min-height: 30vw;
}

.titulo {
  height: 60vh;
  min-width: 2vw;
  max-width: 8vw;
  border: 4px outset white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#3e1e96, #8125e4);
}

.titulo h3 {
  color: white;
  transform: rotate(-90deg);
  min-width: max-content;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 8px 6px rgb(0 0 0 / 0.9), 0px 0px 33px rgb(255 255 255);
}

.contenido {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.timeline {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline ul li {
  padding: 20px;
  background-image: linear-gradient(#3e1e96, #8125e4);
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.trabajo{
  text-align: center;
}

.texto h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.texto p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.img img {
  width: 150px;
}


@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    background-image: linear-gradient(45deg, #3e1e96, #8125e4);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    background-image: linear-gradient(-45deg, #3e1e96, #8125e4);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline ul li:hover::after {
    background-image: linear-gradient(#3e1e96, #8125e4);
  }
}