<h2>Experiencia Laboral</h2>
<div class="container laboral">
  <div class="row laboral">
    <div class="col">
      <img src="assets/img/blancologosertec.png" alt="img-sertec" class="img-lab">
      <div class="middle">
        <div class="text-lab"><p>2015 - 2017<br>Aux. Téc. Informático<br> Salta,Argentina</p></div>
      </div>
    </div>
    <div class="col">
      <img src="assets/img/LOGO Tecnograf.png" alt="img-tecnograf" class="img-lab">
      <div class="middle">
        <div class="text-lab"><p>2017 - 2018<br>Técnico Electrónico Viajante<br> Salta-Jujuy, Argentina</p></div>
      </div>
    </div>
    <div class="col">
      <img src="assets/img/logo-black-azul.png" alt="img-black" class="img-lab">
      <div class="middle">
        <div class="text-lab"><p>2018 - 2019<br>Técnico Electrónico<br> Salta, Argentina</p></div>
      </div>
    </div>
    <div class="col">
      <img src="assets/img/LOGO Randstad.png" alt="img-randstad" class="img-lab">
      <div class="middle">
        <div class="text-lab"><p>2020<br>Técnico Electrónico<br> Salta, Argentina</p></div>
      </div>
    </div>
    <div class="col">
      <img src="assets/img/LOGO SGA.png" alt="img-sga" class="img-lab">
      <div class="middle">
        <div class="text-lab"><p>2019 - Presente<br>Administrador<br>Técnico Electrónico<br> Salta-Jujuy, Argentina</p></div>
      </div>
    </div>
  </div>
</div>
