<div id="explaboral">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Experiencia Laboral</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="contenido">
          <div class="timeline">
            <ul>
              <li>
                <div class="trabajo">
                  <div class="col-12">
                    <div class="img">
                      <img src="assets/img/blancologosertec.png" alt="img-sertec">
                    </div>  
                  </div>
                  <div class="col-12">
                    <div class="texto">
                      <h4><strong>Titulo</strong></h4>
                      <h5>Fecha</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, commodi saepe doloribus dolorum atque corporis unde incidunt eligendi nemo error a eum, harum voluptatem porro eaque quas similique odit totam?</p>
                    </div>  
                  </div>
                </div>              
              </li>
              <li>
                <div class="trabajo">
                  <div class="col-12">
                    <div class="img">
                      <img src="assets/img/LOGO Tecnograf.png" alt="img-tecnograf">
                    </div>  
                  </div>
                  <div class="col-12">
                    <div class="texto">
                      <h4><strong>Titulo</strong></h4>
                      <h5>Fecha</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, commodi saepe doloribus dolorum atque corporis unde incidunt eligendi nemo error a eum, harum voluptatem porro eaque quas similique odit totam?</p>
                    </div>  
                  </div>
                </div>              
              </li>
              <li>
                <div class="trabajo">
                  <div class="col-12">
                    <div class="img">
                      <img src="assets/img/logo-black-azul.png" alt="img-black">
                    </div>  
                  </div>
                  <div class="col-12">
                    <div class="texto">
                      <h4><strong>Titulo</strong></h4>
                      <h5>Fecha</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, commodi saepe doloribus dolorum atque corporis unde incidunt eligendi nemo error a eum, harum voluptatem porro eaque quas similique odit totam?</p>
                    </div>  
                  </div>
                </div>              
              </li>
              <li>
                <div class="trabajo">
                  <div class="col-12">
                    <div class="img">
                      <img src="assets/img/LOGO Randstad.png" alt="img-randstad">
                    </div>  
                  </div>
                  <div class="col-12">
                    <div class="texto">
                      <h4><strong>Titulo</strong></h4>
                      <h5>Fecha</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, commodi saepe doloribus dolorum atque corporis unde incidunt eligendi nemo error a eum, harum voluptatem porro eaque quas similique odit totam?</p>
                    </div>  
                  </div>
                </div>              
              </li>
              <li>
                <div class="trabajo">
                  <div class="col-12">
                    <div class="img">
                      <img src="assets/img/LOGO SGA.png" alt="img-sga" class="img-lab">
                    </div>  
                  </div>
                  <div class="col-12">
                    <div class="texto">
                      <h4><strong>Titulo</strong></h4>
                      <h5>Fecha</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, commodi saepe doloribus dolorum atque corporis unde incidunt eligendi nemo error a eum, harum voluptatem porro eaque quas similique odit totam?</p>
                    </div>  
                  </div>
                </div>              
              </li>
            </ul>  
          </div>
        </div>  
    </div>
  </div>  
</div>
