#topbar {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #f2f2f2, 0 0 30px #f2f2f2;
}

.container-fluid .row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.argprog-link img {
  width: 100%;
  max-width: 120px;
}

.redes-soc {
  display: flex;
  align-items: center;
  gap: 5px;
}

.redes-soc img {
  width: 100%;
  max-width: 50px;
}

.redes-soc .linkrs:hover img {
  border-radius: 50%;
  box-shadow: 0 0 10px #8125e4, 0 0 30px #8125e4;
}

.boton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.boton button:hover {
  box-shadow: 0 0 10px #8125e4, 0 0 30px #8125e4;
}

.btn-lg {
  --bs-btn-padding-x: 1vw;
}
