<div id="topbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 col-sm-3 col-md-3 col-lg-4">
        <a class="argprog-link" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank" rel="noopener noreferrer"><img src="assets/img/LOGO argprog.png" alt="Logo-argentina-programa">
        </a>  
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-4">
        <div class="redes-soc">
          <a class="linkrs" href="https://www.linkedin.com/in/gabriel-alejandro-soliz-46aa6018a/" target="_blank" rel="noopener noreferrer"><img class="img-fluid" src="assets/img/redsoc/linkedin.png" alt="in-redsoc"></a>
          <a class="linkrs" href="https://www.instagram.com/sga_developer/" target="_blank" rel="noopener noreferrer"><img class="img-fluid" src="assets/img/redsoc/instagram.png" alt="logo-insta"></a>
          <a class="linkrs" href="https://www.facebook.com/profile.php?id=100049980233571" target="_blank" rel="noopener noreferrer"><img class="img-fluid" src="assets/img/redsoc/facebook.png" alt="logo-face"></a>
          <a class="linkrs" href="https://github.com/SGA94" target="_blank" rel="noopener noreferrer"><img class="img-fluid" src="assets/img/redsoc/github.png" alt="logo-git"></a>
        </div>    
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-4 ">
        <nav class="topnav" id="mytopnav">
          <a href="#" class="active"><i class="fa fa-fw fa-user"></i>Login</a>
          <a href="#about"><i class="fa fa-fw fa-info-circle"></i>Sobre mi</a>
          <a href="#proyects"><i class="fa fa-fw fa-product-hunt"></i>Proyectos</a>
          <a href="#contact"><i class="fa fa-fw fa-address-book"></i>Contacto</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </nav>      
      </div>
    </div>
  </div>  
</div>
