#footer {
  margin: 10px 0px;
  border: 2px solid #f2f2f2;
  display: flex;
}

.container-fluid {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
}

.row {
  margin: 50px 0px;
  align-items: center;
  min-height: 2vh;
}

.yoprog {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yoprog img {
  width: 150px;
}

.autor {
  margin: 10px 0px;
}

.redes-soc {
  margin: 10px 0px;
  display: flex;
  margin: 0px 30px;
  justify-content: center;
  align-items: center;
}

.redes-soc .linkrs .img-fluid {
  max-width: 50px;
  border-radius: 50%;
}

.redes-soc .linkrs:hover .img-fluid {
  box-shadow: 0 0 10px #8125e4, 0 0 30px #8125e4;  
}