<div class="container oficio">
  <h2>Piensa,Imagina,Sueña...Programa</h2>
  <div class="row oficio">
    <div class="col">
      <img src="assets/img/electronic.png" alt="icon-elect">
      <h3>Técnico Electrónico</h3>
    </div>
    <div class="col">
      <img src="assets/img/developer.png" alt="icon-dev">
      <h3>Developer</h3>
    </div>
    <div class="col">
      <img src="assets/img/telecom icon.png" alt="icon-tel">
      <h3>Técnico Telecomunicaciones</h3>
    </div>  
  </div>
</div>
