<header id="baner" *ngIf="persona">
  <div class="container-fluid">
    <div class="col-12">
      <div class="frase">
        <h1>Piensa,Imagina,Sueña...Programa</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="perfil">
        <div class="col-12">
          <div class="img-perfil" >
            <img src="assets/img/perfil.jpg" alt="foto-perfil" class="img-fluid">
          </div>
        </div>
        <div class="col-12">
          <div class="nombre"><strong>{{persona.apellido}}, {{persona.nombre}}</strong></div>
        </div>
        <div class="col-12">
          <div class="developer">Full Stack Developer Jr.</div>
        </div>
      </div>        
    </div>
  </div>
</header>
