<!-- Formacion academica -->
<h2>Formación Académica</h2>
<div class="container educacion">
  <div class="row educacion">
    <div class="col">
      <img src="assets/img/LOGO 3138.png" alt="ETT 3138">
      <h3><strong>Técnico Electrónico</strong><br>Esc. de Eduacion Técnica N° 3138<br>2006 - 2012</h3>
    </div>
    <div class="col">
      <img src="assets/img/univ s21.jpg" alt="siglo21">
      <h3><strong>Técnico Telecomunicaciones</strong><br>Universidad Siglo 21<br>2021 - Presente</h3>
    </div>
    <div class="col">
      <img src="assets/img/img dev.jpg" alt="autodidacta">
      <h3><strong>Autodidacta Phyton</strong><br>Libros e Info Web<br>2021 - Presente</h3>
    </div>
    <div class="col">
      <img src="assets/img/MINIATURA-ARGEPROGR.jpg" alt="argprog">
      <h3><strong>Full Stack Developer Jr.</strong><br>Programa #YoProgramo<br>2022 - 2023</h3>
    </div>
  </div>
</div>  
