<!-- <div class="row-ejemplo" *ngFor="let education of educations">
  <div class="col-3">
    <img src="{{education.imagenEdu}}" alt="primimg">
  </div>
  <div class="col-3">
    {{education.tituloEdu}}
  </div>
  <div class="col-3">
    {{education.fechaEdu}}
  </div>
  <div class="col-3">
    {{education.descEdu}}
  </div>
</div> -->
<div id="estudios">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Formación Académica</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="institutos">
          <div class="col-12 col-sm-6 col-xl-3">
            <div class="inst">
              <img src="assets/img/LOGO 3138.png" alt="ETT 3138">
              <h3><strong>Técnico Electrónico</strong><br>Esc. de Ed. Técnica N° 3138<br>2006 - 2012</h3>  
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <div class="inst">
              <img src="assets/img/univ s21.jpg" alt="siglo21">
              <h3><strong>Técnico Telecomunicaciones</strong><br>Universidad Siglo 21<br>2021 - Presente</h3>  
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <div class="inst">
              <img src="assets/img/img dev.jpg" alt="autodidacta">
              <h3><strong>Autodidacta Phyton</strong><br>Libros e Info Web<br>2021 - Presente</h3>  
            </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-3">
            <div class="inst">
              <img src="assets/img/MINIATURA-ARGEPROGR.jpg" alt="argprog">
              <h3><strong>Full Stack Developer Jr.</strong><br>Programa #YoProgramo<br>2022 - 2023</h3>  
            </div>
          </div>
        </div>  
      </div>  
    </div>
  </div>  
</div>