/* Formacion educativa */
.container .row.educacion {
  margin: 0;
  padding: 35px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.container .row.educacion .col {
  display: flex;
  height: auto;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .row.educacion .col img {
  padding: 10px;
  width: 200px;
  height: 200px;
  background-color: #f2f2f248;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}

.container .row.educacion .col h3 {
  padding-top: 20px;
  font-size: 20px;
}
