*{
  margin: 0;
  padding: 0;
  text-align: -webkit-center;
}
.gradient-custom {
  /* fallback for old browsers */
  background: black;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #8125e4, #3e1e96);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #8125e4, #3e1e96)
  }