#about {
  border: 2px solid #f2f2f2;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.container-fluid {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.row {
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  min-height: 60vh;
}

.titulo {
  height: 60vh;
  min-width: 2vw;
  max-width: 8vw;
  border: 4px outset white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#3e1e96, #8125e4);
}

.titulo h3 {
  color: white;
  transform: rotate(-90deg);
  min-width: max-content;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 8px 6px rgb(0 0 0 / 0.9), 0px 0px 33px rgb(255 255 255);
}

.contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0px;
}

.certificado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.certificado p {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  width: 350px;
}

.certificado .img {
  width: 250px;
  border: 4px;
  border-color: #f2f2f2;
  border-bottom-style: groove;
  border-left-style: groove;
  border-top-style: ridge ;
  border-right-style: ridge;
  background-image: linear-gradient(#3e1e96, #8125e4);
  border-radius: 10px;
}

.textelec {
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-image: linear-gradient(#3e1e96, #8125e4);
}

.certificado:hover .textelec {
  opacity: 1;
}

.textelec .text {
  width: 100%;
  color: #f2f2f2;
  position: absolute;
  padding: 0 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.textcom {
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-image: linear-gradient(#3e1e96, #8125e4);
}

.certificado:hover .textcom {
  opacity: 1;
}

.textcom .text {
  width: 100%;
  color: #f2f2f2;
  position: absolute;
  padding: 0 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.textdev {
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-image: linear-gradient(#3e1e96, #8125e4);
}

.certificado:hover .textdev {
  opacity: 1;
}

.textdev .text {
  width: 100%;
  color: #f2f2f2;
  position: absolute;
  padding: 0 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width:1024px) {
  .titulo h3 {
    letter-spacing: 0.3em;
    word-spacing: 1em;
  }
}

@media screen and (min-width:1200px) {
  .titulo {
    height: 18em;
    width: 8em;
  }
}