<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
        <div class="titulo">
          <h3>Sobre mi</h3>
        </div>
      </div>
      <div class="col-11">
        <div class="row secundario">
          <div class="col-12">
            <div class="frase">
              <h4>Piensa,Imagina,Sueña...Programa</h4>
            </div>
          </div>
          <div class="col-12">
            <div class="row titulos">
              <div class="col-4">
                <div class="certificado">
                  <img src="assets/img/electronic.png" alt="icon-elect">
                  <p>Técnico Electrónico</p>
                </div>    
              </div>
              <div class="col-4">
                <div class="certificado">
                  <img src="assets/img/telecom icon.png" alt="icon-tel">
                  <p>Técnico Telecomunicaciones</p>    
                </div>
              </div>
              <div class="col-4">
                <div class="certificado">
                  <img src="assets/img/developer.png" alt="icon-dev">
                  <p>Developer</p>
                </div>
              </div>  
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>