<div id="about">
  <!-- Experiencia Laboral -->
  <h2>Experiencia Laboral</h2>
  <div class="container laboral">
    <div class="row laboral">
      <div class="col">
        <img src="assets/img/blancologosertec.png" alt="img-sertec" class="img-lab">
        <div class="middle">
          <div class="text-lab"><p>2015 - 2017<br>Aux. Téc. Informático<br> Salta,Argentina</p></div>
        </div>
      </div>
      <div class="col">
        <img src="assets/img/LOGO Tecnograf.png" alt="img-tecnograf" class="img-lab">
        <div class="middle">
          <div class="text-lab"><p>2017 - 2018<br>Técnico Electrónico Viajante<br> Salta-Jujuy, Argentina</p></div>
        </div>
      </div>
      <div class="col">
        <img src="assets/img/logo-black-azul.png" alt="img-black" class="img-lab">
        <div class="middle">
          <div class="text-lab"><p>2018 - 2019<br>Técnico Electrónico<br> Salta, Argentina</p></div>
        </div>
      </div>
      <div class="col">
        <img src="assets/img/LOGO Randstad.png" alt="img-randstad" class="img-lab">
        <div class="middle">
          <div class="text-lab"><p>2020<br>Técnico Electrónico<br> Salta, Argentina</p></div>
        </div>
      </div>
      <div class="col">
        <img src="assets/img/LOGO SGA.png" alt="img-sga" class="img-lab">
        <div class="middle">
          <div class="text-lab"><p>2019 - Presente<br>Administrador<br>Técnico Electrónico<br> Salta-Jujuy, Argentina</p></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Formacion academica -->
  <h2>Formación Académica</h2>
  <div class="container educacion">
    <div class="row educacion">
      <div class="col">
        <img src="assets/img/LOGO 3138.png" alt="ETT 3138">
        <h3><strong>Técnico Electrónico</strong><br>Esc. de Eduacion Técnica N° 3138<br>2006 - 2012</h3>
      </div>
      <div class="col">
        <img src="assets/img/univ s21.jpg" alt="siglo21">
        <h3><strong>Técnico Telecomunicaciones</strong><br>Universidad Siglo 21<br>2021 - Presente</h3>
      </div>
      <div class="col">
        <img src="assets/img/img dev.jpg" alt="autodidacta">
        <h3><strong>Autodidacta Phyton</strong><br>Libros e Info Web<br>2021 - Presente</h3>
      </div>
      <div class="col">
        <img src="assets/img/MINIATURA-ARGEPROGR.jpg" alt="argprog">
        <h3><strong>Full Stack Developer Jr.</strong><br>Programa #YoProgramo<br>2022 - 2023</h3>
      </div>
    </div>
  </div>  
  <!-- Menu progresivo con nuestras habilidades -->
  <h2>Skill Set</h2>
  <div class="my-skills">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="progress" style="--color:#fc0442; --num:90; background-color: transparent;">
            <div class="punto"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
              <h2>90<span>%</span></h2>
              <p>HTML</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress" style="--color:#2b8aff; --num:75; background-color: transparent;">
            <div class="punto"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
              <h2>75<span>%</span></h2>
              <p>CSS</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress" style="--color:#EEC724; --num:65; background-color: transparent;">
            <div class="punto"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
              <h2>65<span>%</span></h2>
              <p>JavaScript</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="progress" style="--color:#88ff00; --num:70; background-color: transparent;">
            <div class="punto"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
              <h2>70<span>%</span></h2>
              <p>PHYTON</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress" style="--color:rgb(255,119,25); --num:60; background-color: transparent;">
            <div class="punto"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
              <h2>60<span>%</span></h2>
              <p>MySQL</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="progress" style="--color: rgb(40,265,250); --num:70; background-color: transparent;">
            <div class="punto"></div>
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="numero">
              <h2>70<span>%</span></h2>
              <p>WORDPRESS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>