<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Sobre mi</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="row secundario">
          <div class="col-11">
            <div class="frase">
              <p>Piensa,Imagina,Sueña...Programa</p>
            </div>
          </div>
          <div class="col-12">
            <div class="row titulos">
              <div class="col-12 col-xl-3">
                <p>Técnico Electrónico</p>
                <div class="certificado">
                  <img src="assets/img/electronic.png" alt="icon-elect" class="imagen">
                  <div class="textelec">
                    <div class="text">"Luego de recibirme de técnico en un colegio con orientación en electrónica, lo hice parte de mi vida, aprendiendo a diario y aplicando esto de manera profesional"</div>
                  </div>
                </div>    
              </div>
              <div class="col-12 col-xl-3">
                <p>Técnico Telecomunicaciones</p>
                <div class="certificado">
                  <img src="assets/img/telecom icon.png" alt="icon-tel" class="imagen">
                  <div class="textcom">
                    <div class="text">
                      "Al desempeñarme en la informática y con el objetivo de ser un profesional competente, decidi adquirir conocimientos en el área de las redes y las telecomunicaciones"   
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-3">
                <p>Developer</p>
                <div class="certificado">
                  <img src="assets/img/developer.png" alt="icon-dev" class="imagen">
                  <div class="textdev">
                    <div class="text">"La curiosidad y las largas horas en la pc me llevo a sumergirme en el mundo de la programacion, un mundo tan amplio que me fascino y me atrapo..."</div>
                  </div>
                </div>
              </div>  
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>