<div id="proyects">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Proyectos</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="contenido">
          <div class="col-12">
            <div class="proyecto">
              <div class="col-12 col-lg-5">
                <div class="info">
                  <h1><strong>E-Commerce SGA Informática</strong></h1>
                  <h2>Tienda Online - 2020</h2>
                  <p>Se desarrollo una página destinada al comercio online, teniendo como uno de los motivos a la pandemia que atravesaba la sociedad. La mayor parte de la estructura se montó en WordPress debido a la rapidez y sencilles que se precisaba.</p>    
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="imagenes">
                  <div class="col-4 img-tres">
                    <img src="assets/img/proyects/pag sga tres.png" alt="sga-info-3">
                  </div>
                  <div class="col-4 img-dos">
                    <img src="assets/img/proyects/pag sga dos.png" alt="sga-info-2">
                  </div>
                  <div class="col-4 img-uno">
                    <img src="assets/img/proyects/pag sga uno.png" alt="sga-info-1">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="proyecto">
              <div class="col-12 col-lg-5">
                <div class="info">
                  <h1><strong>SGA Developer</strong></h1>
                  <h2>Portfolio - 2022</h2>
                  <p>Mi primer Portfolio. Con ideas plasmadas en papel, tratando de conseguir un proyecto sencillo pero vistoso, iniciamos el desarrollo del Portfolio. Una estructura en bloques y contenido con efectos de distintos estilos.</p>    
                </div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="imagenes">
                  <div class="col-4 img-tres">
                    <img src="assets/img/proyects/pag dev tres.png" alt="pag-dev-3" class="img-fluid">
                  </div>
                  <div class="col-4 img-dos">
                    <img src="assets/img/proyects/pag dev dos.png" alt="pag-dev-2" class="img-fluid">
                  </div>
                  <div class="col-4 img-uno">
                    <img src="assets/img/proyects/pag dev uno.png" alt="pag-dev-1" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>  
    </div>
  </div>  
</div>