<div id="topbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <a class="argprog-link" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank" rel="noopener noreferrer"><img src="assets/img/LOGO argprograma.png" alt="Logo-argentina-programa">
        </a>  
      </div>
      <div class="col-5">
        <div class="redes-soc">
          <div class="col-3">
            <a class="linkrs" href="https://www.linkedin.com/in/gabriel-alejandro-soliz-46aa6018a/" target="_blank" rel="noopener noreferrer"><img src="assets/img/redsoc/linkedin.png" alt="in-redsoc"></a>
          </div>
          <div class="col-3">
            <a class="linkrs" href="https://www.instagram.com/sga_developer/" target="_blank" rel="noopener noreferrer"><img src="assets/img/redsoc/instagram.png" alt="logo-insta"></a>
          </div>
          <div class="col-3">
            <a class="linkrs" href="https://www.facebook.com/profile.php?id=100049980233571" target="_blank" rel="noopener noreferrer"><img src="assets/img/redsoc/facebook.png" alt="logo-face"></a>
          </div>
          <div class="col-3">
            <a class="linkrs" href="https://github.com/SGA94" target="_blank" rel="noopener noreferrer"><img src="assets/img/redsoc/github.png" alt="logo-git"></a>
          </div>
        </div>
      </div>
      <div class="col-4 boton">
        <button type="button" class="btn btn-outline-light btn-lg" (click)="login()">INGRESO</button>
        </div>  
    </div>
  </div>  
</div>
