#baner {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #0E0558;
  background-image: url(../../../assets/img/fondo-perfil.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.35);
  height: 500px;
  border: 2px solid #f2f2f2;
  color: white;
}

.frase {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3vmax;
}

.perfil {
  margin-left: 20px;
  width: 200px;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  text-align: center;
}

.img-perfil .img-fluid {
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  box-shadow: 0 0 10px #f2f2f2, 0 0 30px #f2f2f2;
}

.nombre {
  padding-top: 10px;
  font-size: 30px;
}

@media screen and (max-width:599px){
.perfil {
  margin: 0;
  width: 100%
}
.img-perfil .img-fluid{
  width: 200px;
}
}
