<!-- <div  *ngIf="usuario">  //Esta manera se implementa un usuario
  <h1>{{usuario.nombre}}</h1>
  <img src="{{usuario.fotoPerfil}} alt="fotoperfil">
</div> -->
<header id="baner" *ngIf="usuario">
  <div class="container-fluid">
    <div class="col-12">
      <div class="frase">
        <h1>Piensa,Imagina,Sueña...Programa</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="perfil">
        <div class="col-12">
          <div class="img-perfil" >
            <img src="assets/img/perfil.jpg" alt="foto-perfil" class="img-fluid">
          </div>
        </div>
        <div class="col-12">
          <div class="nombre"><strong>{{usuario.apellido}}, {{usuario.nombre}}</strong></div>
        </div>
        <div class="col-12">
          <div class="developer">{{usuario.titulo}}</div>
        </div>
      </div>        
    </div>
  </div>
</header>
