<div id="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Skill Set</h3>
        </div>
      </div>
      <div class="col-9">
        <div>
          <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"[outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
        </div>
      </div>  
    </div>
  </div>  
</div>