<div id="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Skill Set</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="my-skills">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="skill">
              <circle-progress 
              [outerStrokeLinecap]="'butt'"
              [backgroundGradient]="true"
              [backgroundColor]="'#8125e4'"
              [backgroundGradientStopColor]="'#000'"
              [percent]="90" 
              [radius]="100"
              [unitsFontSize]="'2em'"
              [unitsColor]="'white'"
              [subtitle]="'HTML'"
              [subtitleFontSize]="'2em'"
              [subtitleColor]="'white'"
              [title]="'90'"
              [titleColor]="'white'"
              [titleFontSize]="'3em'"
              [outerStrokeWidth]="12" 
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#FC0442'" 
              [innerStrokeColor]="'#C7E596'" 
              [animation]="true" 
              [animationDuration]="1200">
              </circle-progress>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="skill">
              <circle-progress 
              [outerStrokeLinecap]="'butt'"
              [backgroundGradient]="true"
              [backgroundColor]="'#8125e4'"
              [backgroundGradientStopColor]="'#000'"
              [percent]="75" 
              [radius]="100"
              [unitsFontSize]="'2em'"
              [unitsColor]="'white'"
              [subtitle]="'CSS'"
              [subtitleFontSize]="'2em'"
              [subtitleColor]="'white'"
              [title]="'75'"
              [titleColor]="'white'"
              [titleFontSize]="'3em'"
              [outerStrokeWidth]="12" 
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#2B8AFF'" 
              [innerStrokeColor]="'#C7E596'" 
              [animation]="true" 
              [animationDuration]="1200">
              </circle-progress>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="skill">
              <circle-progress 
              [outerStrokeLinecap]="'butt'"
              [percent]="65" 
              [radius]="100"
              [backgroundGradient]="true"
              [backgroundColor]="'#8125e4'"
              [backgroundGradientStopColor]="'#000'"
              [unitsFontSize]="'2em'"
              [unitsColor]="'white'"
              [subtitle]="'JavaScript'"
              [subtitleFontSize]="'2em'"
              [subtitleColor]="'white'"
              [title]="'65'"
              [titleColor]="'white'"
              [titleFontSize]="'3em'"
              [outerStrokeWidth]="12" 
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#EEC724'" 
              [innerStrokeColor]="'#C7E596'" 
              [animation]="true" 
              [animationDuration]="1200">
              </circle-progress>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="skill">
              <circle-progress 
              [percent]="70" 
              [outerStrokeLinecap]="'butt'"
              [backgroundGradient]="true"
              [backgroundColor]="'#8125e4'"
              [backgroundGradientStopColor]="'#000'"
              [radius]="100"
              [unitsFontSize]="'2em'"
              [unitsColor]="'white'"
              [subtitle]="'Python'"
              [subtitleFontSize]="'2em'"
              [subtitleColor]="'white'"
              [title]="'70'"
              [titleColor]="'white'"
              [titleFontSize]="'3em'"
              [outerStrokeWidth]="12" 
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#88FF00'" 
              [innerStrokeColor]="'#C7E596'" 
              [animation]="true" 
              [animationDuration]="1200">
              </circle-progress>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="skill">
              <circle-progress 
              [outerStrokeLinecap]="'butt'"
              [backgroundGradient]="true"
              [backgroundColor]="'#8125e4'"
              [backgroundGradientStopColor]="'#000'"
              [percent]="60" 
              [radius]="100"
              [unitsFontSize]="'2em'"
              [unitsColor]="'white'"
              [subtitle]="'MySQL'"
              [subtitleFontSize]="'2em'"
              [subtitleColor]="'white'"
              [title]="'60'"
              [titleColor]="'white'"
              [titleFontSize]="'3em'"
              [outerStrokeWidth]="12" 
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#FF7719'" 
              [innerStrokeColor]="'#C7E596'" 
              [animation]="true" 
              [animationDuration]="1200">
              </circle-progress>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="skill">
              <circle-progress 
              [outerStrokeLinecap]="'butt'"
              [backgroundGradient]="true"
              [backgroundColor]="'#8125e4'"
              [backgroundGradientStopColor]="'#000'"
              [percent]="75" 
              [radius]="100"
              [unitsFontSize]="'2em'"
              [unitsColor]="'white'"
              [subtitle]="'WordPress'"
              [subtitleFontSize]="'2em'"
              [subtitleColor]="'white'"
              [title]="'75'"
              [titleColor]="'white'"
              [titleFontSize]="'3em'"
              [outerStrokeWidth]="12" 
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'#28FFFA'" 
              [innerStrokeColor]="'#C7E596'" 
              [animation]="true" 
              [animationDuration]="1200">
              </circle-progress>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>