<div id="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="titulo">
          <h3>Skill Set</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="my-skills">
          <div class="col-12 col-md-6 col-xl-4">
            <div class="progress" style="--color:#fc0442; --num:90; background-color: transparent;">
              <div class="punto"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="numero">
                <h2>90<span>%</span></h2>
                <p>HTML</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="progress" style="--color:#2b8aff; --num:75; background-color: transparent;">
              <div class="punto"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="numero">
                <h2>75<span>%</span></h2>
                <p>CSS</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="progress" style="--color:#EEC724; --num:65; background-color: transparent;">
              <div class="punto"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="numero">
                <h2>65<span>%</span></h2>
                <p>JavaScript</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="progress" style="--color:#88ff00; --num:70; background-color: transparent;">
              <div class="punto"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="numero">
                <h2>70<span>%</span></h2>
                <p>PHYTON</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="progress" style="--color:rgb(255,119,25); --num:60; background-color: transparent;">
              <div class="punto"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="numero">
                <h2>60<span>%</span></h2>
                <p>MySQL</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <div class="progress" style="--color: rgb(40,265,250); --num:70; background-color: transparent;">
              <div class="punto"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="numero">
                <h2>70<span>%</span></h2>
                <p>WORDPRESS</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>  
</div>


